/*開閉ぼたん*/
.btn-menu{
	position: fixed;
	right: 1rem;
	top: 1rem;
	z-index: 4;
	padding:.5rem 1rem;
	border: 1px solid var(--brown);
	border-radius: 50%;
	height:4rem;
	width:4rem;
	transition: .4s;
}
.btn-menu svg{
   fill:var(--brown);
   margin-top: .25rem;
   height: 2rem;
   width: 2rem;	
}
/*閉じるぼたん*/
#menu-close {
	border: 1px solid var(--light-green);
}
#menu-close {
	fill: var(--light-green);
	background: #ffffff;
}

#menu-panel{
	position: fixed;
	top: 0;
	right: 0;
	z-index: 4;
	padding: 8rem 2rem 2rem;
	width: max(32vw, 20rem);
	height: 100vh;
	background-color: var(--brown);
	box-shadow: 0 0 2rem var(--brown);
	font-family: var(--oswald-font);
	transform: translateX(100vw);
	background: #000000;
}
.menu-list{
	list-style: none;
	color: #ffffff;
}
.menu-list li{
	margin: 1.5rem 0;
}
.menu-list a{
	color: var(--light-green);
	text-decoration: none;
	font-size: 2rem;
}






